body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FEFBD8;
}

button{
    font-family: "Helvetica", "sans-serif";
    font-size: 200%;
    cursor: pointer;
    color: white;
}

.calculator-body, button{
    border: 0;
    border-radius: 12px;
}

.calculator-body{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    background-color: royalblue;
    width: 332px;
    background-color: #EECEB9;
}

.calculator-display{
    display: flex;
    flex-direction: column;
}

.clear-button{
    display: flex;
    justify-content: center;
    width: 100%;
}

.calculator-buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 4px 4px;
}

.calculator-display input{
    height: 60px;
    border: none;
    text-align: right;
    font-size: 2em;
    padding: 0;
}

.calculator-display #calculation{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.calculator-display #result{
    font-size: 3em;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.clear-button button{
    flex-grow: 1;
}

.calculator-buttons button{
    width: 80px;
    height: 80px;
}

button.digits{
    background-color: #987D9A;
}

button.operators{
    background-color: #BB9AB1;
}